.box{
    width: 100%;
    height: 100%;            
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    margin: 0;
    background-color: black;  
    opacity: 50%;
}
.user-profile{
    text-align: center;
    width: 50%;
    min-height: 80%;
    position: absolute;
    right: 25%;
    left: 25%;
    top: 10%;
    background: orangered;
    border-radius: 4%;
    z-index: 10;
}
.close-icon{
    float: right;
    margin: 5px;
    display: inline-block;
    color: black;
    font-weight: bold;
    border: 2px;
}
.stack-top{
    z-index: 9;
}
.user-photo{
    position: relative;
    margin: 0;
    padding: 0;
    height: 200px;
    width: 200px;
}
.avatar{
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    height: 200px;
    width: 200px;
    border: 4px solid black;
    border-radius: 50%;
    overflow: hidden;
    vertical-align: middle;
}
.user-name{
    font-size: 20px;
}